# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
